
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Assets/Admin.css" rel="stylesheet" />
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<div id="content">


    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
        </div>

        <!-- Content Row -->
        <div class="row">


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Doanh thu: Tháng @DateTime.Now.Month
                                </div>
                                <span class="h5 font-weight-bold text-gray-800">$ </span>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 d-inline-block counter" data-count="@ViewBag.MoneyMonth">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Đơn hàng: Tháng @DateTime.Now.Month
                                </div>
                                <span class="h5 font-weight-bold text-gray-800">$ </span>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 d-inline-block counter" data-count="@ViewBag.OrderMonth">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <span class="h5 font-weight-bold text-gray-800">$ </span>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800 d-inline-block counter" data-count="1200">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Tổng doanh thu: @DateTime.Now.Year
                                </div>
                                <span class="h5 font-weight-bold text-gray-800">$ </span>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 d-inline-block counter" data-count="@ViewBag.MoneyYear">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        @*<select id="chooseYear" style="padding:2px 12px">
                            <option value="">Chọn năm</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>*@
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" onclick="chartType('bar')">Bar</a>
                                <a class="dropdown-item" onclick="chartType('line')">Line</a>
                                <a class="dropdown-item" onclick="chartType('pie')">Pie</a>
                                <a class="dropdown-item" onclick="chartType('radar')">Radar</a>

                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->

        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">
                            Server Migration <span class="float-right">20%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Sales Tracking <span class="float-right">40%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Customer Database <span class="float-right">60%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Payout Details <span class="float-right">80%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Account Setup <span class="float-right">Complete!</span>
                        </h4>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <!-- Color System -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                Primary
                                <div class="text-white-50 small">#4e73df</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                Success
                                <div class="text-white-50 small">#1cc88a</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-info text-white shadow">
                            <div class="card-body">
                                Info
                                <div class="text-white-50 small">#36b9cc</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                                Warning
                                <div class="text-white-50 small">#f6c23e</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                                Danger
                                <div class="text-white-50 small">#e74a3b</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                                Secondary
                                <div class="text-white-50 small">#858796</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-light text-black shadow">
                            <div class="card-body">
                                Light
                                <div class="text-black-50 small">#f8f9fc</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-body">
                                Dark
                                <div class="text-white-50 small">#5a5c69</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="~/image/error-img.png" alt="...">
                        </div>
                        <p>
                            Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                            constantly updated collection of beautiful svg images that you can use
                            completely free and without attribution!
                        </p>
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">
                            Browse Illustrations on
                            unDraw &rarr;
                        </a>
                    </div>
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                    </div>
                    <div class="card-body">
                        <p>
                            SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                            CSS bloat and poor page performance. Custom CSS classes are used to create
                            custom components and custom utility classes.
                        </p>
                        <p class="mb-0">
                            Before working with this theme, you should become familiar with the
                            Bootstrap framework, especially the utility classes.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>

@section scripts{
    <script type="text/javascript">
        //------------- Get value for chart js ----------------
        var myArray = [];
        var myChart;
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'Octorber',
            'November',
            'December'
        ];
        $(document).ready(function () {
            $(".nav-item.active").removeClass("active");
            $(".nav-Dashboard").addClass("active");
            var year = new Date().getFullYear();
            GetDataForChart(year);
            const configDefault = {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'My First Dataset',
                        data: myArray,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(255, 159, 64, 0.6)',
                            'rgba(255, 205, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(199, 0, 235, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(201, 203, 207, 0.6)',
                            'rgba(205, 92, 92, 0.6)',
                            'rgba(240,230,140,0.6)',
                            'rgba(65,105,225, 0.6)',
                            'rgba(210, 105, 30, 0.6)',
                            'rgba(128, 128, 128,0.6)',


                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(199, 0, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                            'rgb(205, 92, 92)',
                            'rgb(240,230,140)',
                            'rgb(65,105,225)',
                            'rgb(210, 105, 30)',
                            'rgb(128, 128, 128)',
                        ],
                        borderWidth: 1,
                        hoverBorderWidth: 3,

                    }],
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Bảng doanh thu năm ' + @DateTime.Now.Year,
                            font: {
                                size: 20
                            }
                        }
                    }
                },
            };
            setTimeout(function () {
                myChart = new Chart(document.getElementById('myChart'), configDefault);
            }, 1200);
        })

        function GetDataForChart(year) {
            year = Number(year);
            $.ajax({
                url: '/Admin/Total_Month?year=' + year,
                type: 'GET',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    if (result.status) {
                        $.each(result.data, function (key, item) {
                            myArray.push(item);
                        })
                    }
                    else {
                        alert("failed");
                    }
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });



        }

        //-------------------------------------------------------------------------------------

        $(function () {
            myInterval;
            setTimeout(function () {
                clearInterval(myInterval);
                document.querySelector('.loader-wrapper').style.opacity = "0";
                document.querySelector('.loader-wrapper').style.visibility = "hidden";
            }, 1000);
        });

        //-------------------------------------------------------------------------------------


        const configRadar = {
            type: 'radar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: myArray,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 205, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(199, 0, 235, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(201, 203, 207, 0.6)',
                        'rgba(205, 92, 92, 0.6)',
                        'rgba(240,230,140,0.6)',
                        'rgba(65,105,225, 0.6)',
                        'rgba(210, 105, 30, 0.6)',
                        'rgba(128, 128, 128,0.6)',


                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(199, 0, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(205, 92, 92)',
                        'rgb(240,230,140)',
                        'rgb(65,105,225)',
                        'rgb(210, 105, 30)',
                        'rgb(128, 128, 128)',
                    ],
                    borderWidth: 1,
                    hoverBorderWidth: 3,

                }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Bảng doanh thu năm ' + @DateTime.Now.Year,
                        font: {
                            size: 20
                        }
                    }
                }
            },
        };
        const configPie = {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: myArray,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 205, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(199, 0, 235, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(201, 203, 207, 0.6)',
                        'rgba(205, 92, 92, 0.6)',
                        'rgba(240,230,140,0.6)',
                        'rgba(65,105,225, 0.6)',
                        'rgba(210, 105, 30, 0.6)',
                        'rgba(128, 128, 128,0.6)',


                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(199, 0, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(205, 92, 92)',
                        'rgb(240,230,140)',
                        'rgb(65,105,225)',
                        'rgb(210, 105, 30)',
                        'rgb(128, 128, 128)',
                    ],
                    borderWidth: 1,
                    hoverBorderWidth: 3,

                }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Bảng doanh thu năm ' + @DateTime.Now.Year,
                        font: {
                            size: 20
                        }
                    }
                }
            },
        };
        const configBar = {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: myArray,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 205, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(199, 0, 235, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(201, 203, 207, 0.6)',
                        'rgba(205, 92, 92, 0.6)',
                        'rgba(240,230,140,0.6)',
                        'rgba(65,105,225, 0.6)',
                        'rgba(210, 105, 30, 0.6)',
                        'rgba(128, 128, 128,0.6)',


                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(199, 0, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(205, 92, 92)',
                        'rgb(240,230,140)',
                        'rgb(65,105,225)',
                        'rgb(210, 105, 30)',
                        'rgb(128, 128, 128)',
                    ],
                    borderWidth: 1,
                    hoverBorderWidth: 3,

                }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Bảng doanh thu năm ' + @DateTime.Now.Year,
                        font: {
                            size: 20
                        }
                    }
                }
            },
        };
        const configLine = {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: myArray,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 205, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(199, 0, 235, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(201, 203, 207, 0.6)',
                        'rgba(205, 92, 92, 0.6)',
                        'rgba(240,230,140,0.6)',
                        'rgba(65,105,225, 0.6)',
                        'rgba(210, 105, 30, 0.6)',
                        'rgba(128, 128, 128,0.6)',


                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(199, 0, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(205, 92, 92)',
                        'rgb(240,230,140)',
                        'rgb(65,105,225)',
                        'rgb(210, 105, 30)',
                        'rgb(128, 128, 128)',
                    ],
                    borderWidth: 1,
                    hoverBorderWidth: 3,

                }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Bảng doanh thu năm ' + @DateTime.Now.Year,
                        font: {
                            size: 20
                        }
                    }
                }
            },
        };



        //--------------------------------------------------------------------------------------
        function chartType(type) {
            myChart.destroy();
            if (type === 'line') {
                 myChart = new Chart(document.getElementById('myChart'), configLine);
            }
            else if (type === 'bar') {
                myChart = new Chart(document.getElementById('myChart'), configBar);
            }
            else if (type === 'pie') {
                 myChart = new Chart(document.getElementById('myChart'), configPie);
            }
            else if (type === 'radar') {
                 myChart = new Chart(document.getElementById('myChart'), configRadar);
            }
        }

        //--------------------------------------------------------------------------------------

        //--------------------------------------------------------------------------------------

        var myInterval = setInterval(function () {
            var randomColor = Math.floor(Math.random() * 16777215).toString(16);
            document.querySelector('.loader').style.backgroundColor = "#" + randomColor;
        }, 600)
        $('.counter').each(function () {
            var $this = $(this),
                countTo = $this.attr('data-count');

            $({ countNum: $this.text() }).animate({
                countNum: countTo
            },
                {
                    duration: 4000,
                    easing: 'linear',
                    step: function () {
                        $this.text(Math.floor(this.countNum).toLocaleString());
                    },
                    complete: function () {
                        $this.text(this.countNum.toLocaleString());
                    }

                });
        });


    </script>
}